<div class="min-h-screen flex items-center justify-center bg-slate-800">
    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md mt-10">
      <h2 class="text-2xl font-bold mb-8 text-blue-900 text-center">Login Here</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div *ngIf="inlineNotification.show" class="text-red-600 mt-4 text-center">
          {{ inlineNotification.text }}
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Email</label>
          <input type="email" id="email" formControlName="email" required class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-600 mt-2">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700">Password</label>
          <input type="password" id="password" formControlName="password" required class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-600 mt-2">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['minlength']">Password must be at least 5 characters long.</div>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <button type="submit" class="w-2/4 bg-blue-900 text-white px-4 py-2 rounded hover:bg-blue-700 mb-4">Login</button>
          <a routerLink="/forgot-password" class="text-blue-500 hover:underline hover:cursor-pointer">Forgot Password?</a>
       </div>   
      </form>
    </div>
</div>
  