# Compiled output
dist/
build/

# Temporary files
tmp/
temp/

# Node dependencies
node_modules/

# IDE/Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled TypeScript
*.tsbuildinfo

# Angular specific files
.angular/cache/
.angular/cli

# Environment settings
src/environments/*.ts

# Package-lock or yarn-lock if not using one
package-lock.json
yarn.lock

# Mac OS and Linux specific files
*.swp
